.sign__in__box {
  height: inherit;
  .sign__in__box--centered {
    height: calc(100% - 320px);
    display: flex;
    margin-top: 115px;
  }
}

.sign__in__wrapper {
  flex-flow: column wrap;
  form {
    width: 370px;
  }
  h3 {
    margin-bottom: 16px;
  }
}

.recaptcha__box {
  margin-bottom: 14px;
  line-height: 17px;
  span {
    color: rgba($black, 0.5);
    font-size: 12px;
    line-height: inherit;
    a {
      color: $navy-blue !important;
      font-size: inherit;
    }
  }
}

.button__wrapper {
  align-items: center;
  margin-top: 24px;
  span {
    line-height: 18px;
    color: rgba($black, 0.5);
    margin: 0 16px;
  }
  .bg-navy-blue, .bg-silver {
    transition: background 0.3s ease-in-out;
    border: 1px solid transparent;
  }
  .bg-navy-blue {
    width: 150px;
    &:hover {
      background: rgba($navy-blue, 0.9);
    }
    &:active {
      background: linear-gradient(0deg, rgba($black, 0.1), rgba($black, 0.1)), $navy-blue;
      box-shadow: inset 0px 2px 0px rgba($black, 0.1);
    }
  }
  .bg-silver {
    &:hover {
      background: linear-gradient(0deg, $silverish, $silverish), $grey;
    }
    &:active {
      background: linear-gradient(0deg, $grey, $grey), $grey;
      box-shadow: inset 0px 2px 0px $silverish;
    }
  }
}